@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #a4d083, #8ac9cb);
    font-family: Raleway;
}

.searchBar {
    margin-top: 50px;
    width: 60%;
    height: 4em;
    padding-left: 10px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: Raleway;
}

.searchContainer {
    display: flex;
    justify-content: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.filterContainer {
    display: flex;
    justify-content: center;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.filterItem {
    margin: 10px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn {
    margin: 10px;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    line-height: 45px;
    border-radius: 8px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: border-radius .25s;
    font-family: Raleway;
}

.btn:hover {
    background: rgba(0, 118, 255, 0.9);
    border-radius: 70%;
    transition: border-radius .25s;

}

#searchBtn {
    background-color: #308013;
}

#searchBtn:hover {
    background-color: #30910d;
}